@import 'tailwindcss';

:root {
  --background: #ffffff;
  --primary: #d8b16c;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-text: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
