@import 'tailwindcss';

:root {
  --background: #EEEEEE;
  --primary: #d8b16c;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-text: var(--foreground);
  --color-white: #EEEEEE;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-general-sans), system-ui, arial, sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

.delay-100 {
  animation-delay: 0.1s;
}

.delay-200 {
  animation-delay: 0.2s;
}
